<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>signup</servlet-name>
        <servlet-class>signup</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>signin</servlet-name>
        <servlet-class>signin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addstation</servlet-name>
        <servlet-class>addstation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>abc</servlet-name>
        <servlet-class>abc</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addroute</servlet-name>
        <servlet-class>addroute</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>dummy</servlet-name>
        <servlet-class>dummy</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addroute_db</servlet-name>
        <servlet-class>addroute_db</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>select_route</servlet-name>
        <servlet-class>select_route</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>select_stops</servlet-name>
        <servlet-class>select_stops</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addtrain_db</servlet-name>
        <servlet-class>addtrain_db</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>available</servlet-name>
        <servlet-class>available1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>booktickets</servlet-name>
        <servlet-class>booktickets</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>seatavailable</servlet-name>
        <servlet-class>seatavailable</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>available_db</servlet-name>
        <servlet-class>available_db</servlet-class>
    </servlet>
        <servlet-name>realbooking</servlet-name>
        <servlet-class>realbooking</servlet-class>
    <servlet-mapping>
        <servlet-name>realbooking</servlet-name>
        <url-pattern>/realbooking</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>signup</servlet-name>
        <url-pattern>/signup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>seatavailable</servlet-name>
        <url-pattern>/seatavailable</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>signin</servlet-name>
        <url-pattern>/signin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addstation</servlet-name>
        <url-pattern>/addstation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>abc</servlet-name>
        <url-pattern>/abc</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addroute</servlet-name>
        <url-pattern>/addroute</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>dummy</servlet-name>
        <url-pattern>/dummy</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addroute_db</servlet-name>
        <url-pattern>/addroute_db</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>select_route</servlet-name>
        <url-pattern>/select_route</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>select_stops</servlet-name>
        <url-pattern>/select_stops</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addtrain_db</servlet-name>
        <url-pattern>/addtrain_db</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>available</servlet-name>
        <url-pattern>/available</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>booktickets</servlet-name>
        <url-pattern>/booktickets</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>available_db</servlet-name>
        <url-pattern>/available_db</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <context-param>
        <param-name>DB_Driver</param-name>
        <param-value>com.mysql.jdbc.Driver</param-value>
    </context-param>
    <context-param>
        <param-name>DB_Con</param-name>
        <param-value>jdbc:mysql://localhost/trainreservation</param-value>
    </context-param>
    <context-param>
        <param-name>DB_Username</param-name>
        <param-value>root</param-value>
    </context-param>
    <context-param>
        <param-name>DB_Password</param-name>
        <param-value/>
    </context-param>
</web-app>
